- if @posts.any?
  - @posts.each do |post|
    = link_to post.title, post_path(post)
    %p= post.description
    = image_tag post.image.url(:thumb)
- else
  No posts added yet

= link_to "Add a post", new_post_path